<!DOCTYPE html>
<html lang="ru">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
 
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/registration.css">

        
  
</head>
<body>
    <div class="container">
        <div class="auth-header"> 
        <h1>Регистрация</h1>
        </div>
        <form action="{% url 'registration' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <input type="text" name="email" placeholder="Почта" required>
            <input type="text" name="first_name" placeholder="Имя" required>
            <input type="text" name="last_name" placeholder="Фамилия" required>
            <input type="submit" value="Зарегистрироваться">
        </form>
        <div class="links">
            <a href="">Забыли пароль?</a>
            <span style="margin: 0 60px;"></span>
            <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>

    <script src="../static/scripts/registration.js"></script>
</body>
</html>
