<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <link rel="stylesheet" href="account.css">
</head>
<body>
    <div id="user-info"></div>

    <div class="rectangle"> <img src="img1.jpg" alt="img"></div>

    <a href="{% url 'login' %}" class="link-left">Войти</a><br>
    <a href="{% url 'register' %}" class="link-right">Регистрация</a>

    <div id="homework-buttons"></div>

    <script src="account.js"></script>
</body>
</html>





   

    
    
    

