<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Elephant</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>

<div class="background">
  <div class="ellipse1"></div>
  <div class="ellipse2"></div>
  <div class="ellipse3">
    <img src="../static/images/index.jpeg" alt="im1">
  </div>
  <div class="board">
    <img src="../static/images/index.jpeg" alt="im2">
  </div>
  <div class="ellipse4"></div>
  <div class="ellipse5">
    <img src="../static/images/index.jpeg" alt="im3">
  </div>



  <input type="text" placeholder="Enter your data">

  <div class="tasks">
    <h1>Каталог заданий:</h1>
      {% if problems_list %}
    <h1>
        <ol>
            {% for problem in problems_list %}
                <li><a href="/{{ problem.id }}/">{{ problem.headline }}</a></li>
            {% endfor %}
        </ol>
    </h1>
    {% else %}
        <p>Отсутствуют доступные задачи.</p>
    {% endif %}
  </div>

    {% if is_auth %}
        <a href="{% url 'account' %}" class="link-left">Личный кабинет</a><br>
        <a href="{% url 'logout' %}" class="link-right">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}" class="link-left">Войти</a><br>
        <a href="{% url 'registration' %}" class="link-right">Регистрация</a>
    {% endif %}
</div>
</body>
</html>

