<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elephant</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'prototype/index.css' %}">
</head>
<body>

<div class="background">
  <div class="ellipse1"></div>
  <div class="ellipse2"></div>
  <div class="ellipse3">
    <img src="{% static 'prototype/images/index.jpeg' %}" alt="im1">
  </div>
  <div class="board">
    <img src="{% static 'prototype/images/index.jpeg' %}" alt="im2">
  </div>
  <div class="ellipse4"></div>
  <div class="ellipse5">
    <img src="{% static 'prototype/images/index.jpeg' %}" alt="im3">
  </div>



  <input type="text" placeholder="Enter your data">

  <div class="tasks">
    <h1>Каталог заданий:</h1>
      {% if problems_list %}
    <h1>
        <ol>
            {% for problem in problems_list %}
                <li><a href="/{{ problem.id }}/">{{ problem.headline }}</a></li>
            {% endfor %}
        </ol>
    </h1>
    {% else %}
        <p>Отсутствуют доступные задачи.</p>
    {% endif %}
  </div>
  <a href="{% url 'authorization' %}" class="link-left">Войти</a><br>
  <a href="{% url 'registration' %}" class="link-right">Регистрация</a>
</div>
</body>
</html>

